<footer class="flex flex-col w-full h-auto m-auto p-6 bg-amber-900 gap-4">
	<div class="flex w-full xl:w-5xl h-auto m-auto justify-around">
		<div class="flex flex-col">
			<h1>Esmalteria Rayane</h1>
			<h2>Studio Hair</h2>

			<span></span>
		</div>
		<div class="flex flex-col">
			<h1 class="mb-4">Acesso Rápido</h1>

			<span class="poppins-light">Sobre Nós</span>
			<span class="poppins-light">Contato</span>
			<span class="poppins-light">Catálogo</span>
			<span class="poppins-light">Agendamento</span>
		</div>
		<div class="flex flex-col">
			<h1 class="mb-4">Nossos Serviços</h1>
		</div>
		<div class="flex flex-col">
			<h1 class="mb-4">Endereços</h1>
		</div>
	</div>
	<div class="border-b border-white opacity-15 w-full xl:w-5xl m-auto"></div>
	<div class="flex w-full m-auto justify-center">
		<span>&copy; Todos os direitos reservados - 2026</span>
	</div>
</footer>
