<header
	class="nav flex w-full xl:w-5xl h-auto m-auto p-6 justify-between xl:justify-around bg-white"
	[class.active]="menuOpen"
>
	<div class="flex flex-col">
		<h1>Logo</h1>
	</div>

	<button type="button" class="menu-button" (click)="toggleMenu()">
		<span></span>
		<span></span>
		<span></span>
	</button>

	<ul class="nav-list poppins-light">
		<li class="cursor-pointer hover:text-red-500 transition duration-150 ease-in-out">
			<a routerLink="/" routerLinkActive="red-500" (click)="toggleMenu()">início</a>
		</li>
		<li class="cursor-pointer hover:text-red-500 transition duration-150 ease-in-out">
			<a routerLink="/about" routerLinkActive="red-500" (click)="toggleMenu()">sobre</a>
		</li>
		<li class="cursor-pointer hover:text-red-500 transition duration-150 ease-in-out">
			<a routerLink="/contact" routerLinkActive="red-500" (click)="toggleMenu()">contato</a>
		</li>
		<li class="cursor-pointer hover:text-red-500 transition duration-150 ease-in-out">
			<a routerLink="/catalog" routerLinkActive="red-500" (click)="toggleMenu()">catálogo</a>
		</li>
		<li class="cursor-pointer hover:text-red-500 transition duration-150 ease-in-out">
			<a routerLink="/schedule" routerLinkActive="red-500" (click)="toggleMenu()">agendamento</a>
		</li>
		<li class="cursor-pointer hover:text-red-500 transition duration-150 ease-in-out">
			<a routerLink="/gallery" routerLinkActive="red-500" (click)="toggleMenu()">galeria</a>
		</li>
	</ul>
</header>
